<div class="d-flex align-items-center p-3 py-5">
    <div class="container rounded bg-white mt-5 mb-5">
        <div class="row" *ngIf="!isLoading">
            <table class="table table-striped">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">User Name</th>
                        <th scope="col">Email</th>
                        <th scope="col">Active</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let user of users; let i = index">
                        <td>{{i}}</td>
                        <td>{{user.userName}}</td>
                        <td>{{user.email}}</td>
                        <td>{{user.isActive?"true":"false"}}</td>

                        <td>


                            <button type="button" class="btn btn-outline-primary  p-2 m-2"
                                (click)="activate(user.userName)">Enable Profile</button>
                            <button type="button" class="btn btn-outline-danger  p-2 m-2"
                                (click)="deActivate(user.userName)">Disable
                                Profile</button>

                        </td>
                    </tr>

                </tbody>
            </table>
        </div>
        <div class="spinner-border text-primary text-center" *ngIf="isLoading" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
        <div class="alert alert-secondary" role="alert" *ngIf="showEmptyMsg">
            {{emptyMsg}}
        </div>
    </div>

</div>